{% extends "base.html" %}

{% block body %}

    <h1>Moderate comments</h1>
    <h2>Filter tools</h2>
    <form>
        <label>
            Site:
            <select name="site_id">
                <option value="" {% if not selected_site %}selected{% endif %}>All sites</option>
                {% for s in sites %}
                    <option value="{{ s.key.urlsafe() }}"
                            {% if selected_site == s.key.urlsafe()  %}selected{% endif %}>
                        {{ s.sitename }}
                    </option>
                {% endfor %}
            </select>
            <select name="state">
                <option value="" {% if not selected_state %}selected{% endif %}>All states</option>
                {% set states=[['UNDECIDED', 'Needs modeation'], ['DECLINED', 'Declined'], ['APPROVED', 'Approved']] %}
                {% for key, label in states  %}
                    <option value="{{ key }}" {% if key == selected_state %}selected{% endif %}>{{ label }}</option>
                {% endfor %}

            </select>
            <input type="submit" value="Sumbit">
        </label>
    </form>
    <h2>Moderation</h2>
    <table>
        <thead>
        <tr>
            <td>
                Site:
            </td>
            <td>
                Path:
            </td>
            <td>
                User:
            </td>
            <td>
                Content:
            </td>
            <td>
                State:
            </td>
        </tr>
        </thead>
        <tbody>
        {% for c in comments %}
            <tr>
                <td>
                    {{ c.site.get().siteurl }}
                </td>
                <td>
                    <a href="/{{ c.full_url }}">{{ c.url }}</a>
                </td>
                <td>
                    {{ c.username }}
                </td>
                <td>
                    <form method="post">
                        <textarea name="comment">{{ c.content }}</textarea>
                        <input type="hidden" value="content" name="action">
                        <input type="hidden" value="{{ c.key.urlsafe() }}" name="key">
                        <input type="submit" value="Update content">
                    </form>
                </td>
                <td>
                    {% if c.state in ['DECLINED', 'UNDECIDED'] %}
                        <form method="post">
                            <input type="hidden" name="action" value="set-state">
                            <input type="hidden" value="{{ c.key.urlsafe() }}" name="key">
                            <input type="hidden" name="new-state" value="APPROVED">
                            <input type="submit" value="Approve">
                        </form>
                    {% endif %}
                    {% if c.state in ['APPROVED', 'UNDECIDED'] %}
                        <form method="post">
                            <input type="hidden" name="action" value="set-state">
                            <input type="hidden" value="{{ c.key.urlsafe() }}" name="key">
                            <input type="hidden" name="new-state" value="DECLINED">
                            <input type="submit" value="Decline">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}